* {
    padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
    color: #ccc;
    font-size: 24px;
}

body {
    background: url('../assets/background.png');
}

main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: transparent;
}

main > div {
    background: transparent;
}

.frame {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 100vh;
}

.frame-above {
    align-items: top;
}

.frame-below {
    align-items: end;
}

.frame-above, .frame-below {
    border: 1px solid rgba(60, 60, 60, 0.1);
    background: url('../assets/obstaculo-fundo.png');
}

.frame-above img, .frame-below  img {
    width: 100%;
    height: 50%;
    background: url('../assets/obstaculo.png');
    background-size: contain;
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.2);
}

.player-container {
    display: flex;
    align-items: center;
    justify-items: center;

    background: transparent;

    width: 48px;
    height: 48px;
    position: absolute;

    top: calc(100vh / 2 - 4%);
    left: 50px;
}

.player-spaceship {
    background: transparent;
    width: 48px;
}

.score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    position: fixed;
    right: calc(100vw / 2 - 25px);
    top: 2%;
}

.score-container span {
    color: #CCE0FF;
}

.score-container .score-title {
    font-size: medium;
}

.score-container .score {
    font-size: 25px;
    font-weight: 900;
}